input {
    &::-webkit-input-placeholder {
        color: #c3c3c3;
    }

    &:-moz-placeholder {
        color: #c3c3c3;
    }

    &::-moz-placeholder {
        color: #c3c3c3;
    }

    &:-ms-input-placeholder {
        color: #c3c3c3;
    }

    &:focus {
        outline: none;
    }
}

.sc-box {
    position: relative;
    width: 100%;
    height: 40px;
    margin-bottom: 15px;
}

.con-sc-box {
    display: inline-block;
}

.sc-input {
    height: 100%;
    width: 100%;
    padding: 8px 10px;
    font-size: 15px;
    font-family:"lucida sans", "trebuchet MS", "Tahoma";
    border: none;
    display: block;
    position: relative;
    background-clip: padding-box;
    background: none;
    background-color: #fff;
    border-radius: 2px;
    box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.3);

    &:hover,
    &:focus {
        box-shadow: 1px 1px 7px rgba(0, 0, 0, 0.5);
    }
}

.con-input {
    height: 40px;
    width: 450px;
    margin: -4.5rem 15rem;
}

.sc-submit {
    border: none;
    width: 40px;
    float: right;
    border-radius: 2px;
    cursor: pointer;
    position: absolute;
    display: block;
    height: 0;
    top: -1px;
    right: -1px;
    padding: 40px 0 0;
}

.con-sc-submit {
    top: 27px;
}
