@import "normalize";
@import "utils/mixin";
@import "common";

/* 桌機 大於 815 */
@media (min-width: 815px) {
    .title{
        font: bold 1.7rem Arial, Helvetica, sans-serif;
        padding-top: 110px;
    }
    .date{
        font-size: 1.2rem;
        color: #B2B2B2;
    }
    .NewsContent{
        font-size: 1.3rem;
        color: #222831;
        max-width:80%;
    }
    .NewsContent img{
        height: auto;
        width: 500px;
    }
}

/* 平板 */
@media (min-width: 426px) and (max-width: 814px) {
    .title{
        font: bold 1.5rem Arial, Helvetica, sans-serif;
        padding-top: 110px;
    }
    .date{
        font-size: 1.1rem;
        color: #B2B2B2;
    }
    .NewsContent{
        font-size: 1rem;
        color: #222831;
        max-width:100%;
        height:auto;
    }
    .NewsContent img {
        height: auto;
        width: 450px;
    }
}

/* 手機直 */
@media (max-width: 425px) {
    .title{
        font: bold 1.5rem Arial, Helvetica, sans-serif;
        padding-top: 95px;
    }
    .date{
        font-size: 1rem;
        color: #B2B2B2;
    }
    .NewsContent{
        font-size: 1rem;
        color: #222831;
     }
     .NewsContent img {
        height: auto;
        width: 150px;
    }
    .NewsContent .wp-caption {
        width: 300px;
    }
}
